p.preview-html-split {
  border: 1px solid rgb(91, 91, 255);
  font-size: 50%;
  text-transform: lowercase;
  font-style: italic;
  text-align: center;
}
img.floatright {
  float: right;
  margin: 0 0 7px 7px;
}
img.floatleft {
  float: left;
  margin: 7px 7px 0 0;
}

a.toclink {
  color: unset;
  text-decoration: none;
}

a.toclink:hover {
  text-decoration: underline dotted;
}
