name: Bundle stats

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  bundle-stats:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
      - run: bun install

      - name: Build (and lint)
        run: bun run build

      - name: Compare with main
        uses: actions/checkout@v5
        with:
            ref: main
            path: main

      - name: Install from main
        working-directory: main
        run: bun install

      - name: Build main
        if: ${{ github.event_name == 'pull_request' }}
        working-directory: main
        run: bun run build

      - name: Compare
        id: set-markdown
        if: ${{ github.event_name == 'pull_request' }}
        run: |

          echo "This PR (size):"
          du -sh dist/assets
          echo "Main (size):"
          du -sh main/dist/assets

          echo ""
          markdown=$(bun run --silent compare-build-dirs -- main/dist/assets dist/assets)
          echo "::set-output name=markdown::${markdown//$'\n'/%0A}"

      - name: Find Comment
        if: ${{ github.event_name == 'pull_request' && steps.set-markdown.outputs.markdown != '' }}
        uses: peter-evans/find-comment@v3
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body-includes: "Total size of "

      - name: Post comparison
        if: ${{ github.event_name == 'pull_request' && steps.set-markdown.outputs.markdown != '' }}
        uses: peter-evans/create-or-update-comment@v5
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          issue-number: ${{ github.event.number }}
          body: ${{ steps.set-markdown.outputs.markdown }}
          edit-mode: replace
